@using CarDeal.Models.DTOs;
@model List<ReviewDTO>;


@{
    ViewData["Title"] = "Details";
}

@{
    string AddBreaksAfterNCharacters(string text, int n)
    {
        if (string.IsNullOrEmpty(text)) return string.Empty;

        var stringBuilder = new System.Text.StringBuilder();
        for (int i = 0; i < text.Length; i++)
        {
            stringBuilder.Append(text[i]);
            if ((i + 1) % n == 0)
            {
                stringBuilder.Append("<br />");
            }
        }
        return stringBuilder.ToString();
    }
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            CarBrand
        </dt>
        <dd class="col-sm-10">
            @ViewBag.post.CarBrand
        </dd>
        <dt class="col-sm-2">
            CarModel
        </dt>
        <dd class="col-sm-10">
            @ViewBag.post.CarModel

        </dd>
        <dt class="col-sm-2">
            Describtion
        </dt>
        <dd class="col-sm-10">

            @Html.Raw(AddBreaksAfterNCharacters(ViewBag.post.Describtion, 135))
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @ViewBag.post.Category
        </dd>
        <dt class="col-sm-2">
            Region
        </dt>
        <dd class="col-sm-10">
            @ViewBag.post.Region
        </dd>
        <dt class="col-sm-2">
            MainImage
        </dt>
        <dd class="col-sm-10">
            <img src="~/@ViewBag.post.MainImage" />
        </dd>
        <dt class="col-sm-2">
            FrontImage
        </dt>
        <dd class="col-sm-10">
            <img src="~/@ViewBag.post.FrontImage" />
        </dd>
        <dt class="col-sm-2">
            Price
        </dt>
        <dd class="col-sm-10">
            @ViewBag.post.Price
        </dd>
        <dt class="col-sm-2">
            Publish
        </dt>
        <dd class="col-sm-10">
            @ViewBag.post.Publish

        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <strong> Name  </strong>
                </th>
                <th>
                    <strong>Describtion</strong>
                </th>
                <th>
                    <strong>Stars</strong>
                </th>
                <th>
                    <strong>Publish</strong>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Describtion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stars)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publish)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@ViewBag.post.Id">Edit</a> |
    <a class="btn btn-outline-dark" asp-action="UserPosts">Back to List</a>
</div>
