@using Microsoft.AspNetCore.Identity;
@using CarDeal.Data;
@using CarDeal.Models.DTOs;
@model List<PostDTO>
@inject SignInManager<User> signinManager;

@{
    ViewData["Title"] = "Index";
}
<h1>ALl posts</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <strong>CarBrand</strong>
            </th>
            <th>
                <strong>CarModel</strong>
            </th>

            <th>
                <strong>Category</strong>
            </th>
            <th>
                <strong>Region</strong>
            </th>
            <th>
                <strong>Price</strong>
            </th>
            <th>
                <strong>Publish</strong>
            </th>
            <th>
                <strong>Created By</strong>
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@if (this.signinManager.IsSignedIn(User))
{
    <a class="btn btn-outline-primary" asp-area="" asp-controller="Post" asp-action="Create">Create post</a>
}
else
{
    <p>Login to create a post</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
}