@using CarDeal.Models.DTOs;
@model ReviewDTO;


@{
    ViewData["Title"] = "Details";
}

@{
    string AddBreaksAfterNCharacters(string text, int n)
    {
        if (string.IsNullOrEmpty(text)) return string.Empty;

        var stringBuilder = new System.Text.StringBuilder();
        for (int i = 0; i < text.Length; i++)
        {
            stringBuilder.Append(text[i]);
            if ((i + 1) % n == 0)
            {
                stringBuilder.Append("<br />");
            }
        }
        return stringBuilder.ToString();
    }
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        <dt class="col-sm-2">
            Describtion
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(AddBreaksAfterNCharacters(Model.Describtion, 135))

        </dd>
        <dt class="col-sm-2">
            Stars
        </dt>
        <dd class="col-sm-10">
            @Model.Stars

        </dd>
        <dt class="col-sm-2">
            Publish
        </dt>
        <dd class="col-sm-10">
            @Model.Publish

        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-outline-dark" asp-action="UserReviews">Back to List</a>
</div>
